<h5 class="card-title">Product Id is: {{product_id}}</h5>
<div class="card mb-4 rounded-3 shadow-sm border-primary">
    <div class="card-header py-3 text-white bg-primary border-primary">
      <h4 class="my-0 fw-normal">Enterprise</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">${{product.price}}<small class="text-muted fw-light">/12pcs</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{product.code}}</li>
        <li>{{product.name}}</li>
        <li>{{product.price}}</li>
        <li>{{product.description}}</li>
      </ul>
    </div>
  </div>