<div class="row">
    <h2>Product without Services</h2>
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <h2 class="card-title pricing-card-title">${{product.price}}<small class="text-muted fw-light">/12 pcs</small></h2>
                <button [routerLink]="['/product-detail/', product.id]" class="btn btn-primary">
                    Check Product
                </button>
            </div>
        </div>
    </div>
</div>
<app-products-service></app-products-service>