<div class="p-3 pb-md-4 mx-auto text-center" style="color: grey;">
    <p class="h2">Fun Facts About Country</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a routerLink="/home-component"  routerLinkActive="active" class="btn btn-primary btn-sm btn-dark px-4">Go Back To Homepage</a>
        <a routerLink="/all-countries-component"  routerLinkActive="active" class="btn btn-primary btn-sm btn-dark px-4">List of all Countries</a>
    </div>
</div>
<router-outlet></router-outlet>